body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Estilo para el pie de página */
.footer {
  background-color: #333; /* Color de fondo */
  color: #fff; /* Color de texto */
  padding: 20px;
}

.footer a {
  color: #fff; /* Color de los enlaces */
  text-decoration: none; /* Quita la subrayado de los enlaces */
  transition: color 0.3s; /* Transición de color suave */
}

.footer a:hover {
  color: #ff6600; 
}
.footer {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  /* Modo oscuro personalizado */
body.dark-mode {
  background-color: #121212; /* Fondo oscuro para el cuerpo */
  color: #e0e0e0; /* Color claro para el texto general */
}

.dark-mode .navbar {
  background-color: #1f1f1f; /* Fondo oscuro para la navbar */
  border-bottom: 1px solid #333; /* Borde inferior para añadir una ligera separación */
}

.dark-mode .navbar .nav-link {
  color: #e0e0e0; /* Color claro para los enlaces de la navbar */
}

.dark-mode .navbar .nav-link:hover {
  color: #ffffff; /* Color blanco al pasar el ratón por encima de los enlaces */
  background-color: rgba(255, 255, 255, 0.1); /* Efecto de resaltado al pasar el ratón */
}

.dark-mode .btn-outline-secondary {
  color: #e0e0e0; /* Color claro para el texto del botón */
  border-color: #e0e0e0; /* Color claro para el borde del botón */
}

.dark-mode .btn-outline-secondary:hover {
  background-color: #e0e0e0; /* Fondo claro al pasar el ratón por encima del botón */
  color: #1f1f1f; /* Color oscuro para el texto del botón al pasar el ratón */
}

}
