body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Estilo para el pie de página */
.footer {
  background-color: #333; /* Color de fondo */
  color: #fff; /* Color de texto */
  padding: 20px;
}

.footer a {
  color: #fff; /* Color de los enlaces */
  text-decoration: none; /* Quita la subrayado de los enlaces */
  transition: color 0.3s; /* Transición de color suave */
}

.footer a:hover {
  color: #ff6600; 
}
.footer {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 20px;
}

.text-center {
  text-align: center;
}

/* Estilos para el modo oscuro */
.bg-dark {
  background-color: #333;
}

.text-white {
  color: #fff;
}

/* Estilos para el carousel */
.carousel-container {
  margin-bottom: 20px;
}

.carousel-item img {
  border-radius: 5px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}

/* Estilos para la sección de historia */
.historia {
  margin-top: 20px;
}

/* Estilos para la sección de ubicación */
.ubicacion {
  margin-top: 20px;
}


.animate-scroll-down {
  animation: animateScrollDown 0.5s ease forwards;
}

@keyframes animateScrollDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
